# Carpetas a ignorar
simpsons/
simpsons_dataset/
models/
__pycache__/
Best Model/
Best_Model/
*.keras
simpsons_train_val_test/
Directories.pdf

# Python
*.pyc

# Jupyter
.ipynb_checkpoints/

# Opcional (si tienes modelos pesados)
*.

# Sistema
.DS_Store